@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("../assets/helveticaneue/HelveticaNeue\ Medium.ttf");
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../assets/helveticaneue/Helvetica\ Neu\ Bold.ttf");
}

// Variables
$primary-color: #174DBA;
$primary-color-hover: #174dbac7;
$secondary-color-hover: #1779ba;
$secondary-color: #1779bae3;
$white: #FFFFFF;
$gray: #EFF0F3;
$dark: #505050;
$font-size-medium: 16px;
$font-family-bold: "Helvetica Neue Bold";
$font-family-medium: "Helvetica Neue Medium";
$btn-primary: (
    background-color: $primary-color
);


.primary-title-lg-font{
    font-family: $font-family-bold;
    font-size: 48px;
    color: $primary-color;
}

.primary-title-font{
    font-family: $font-family-bold;
    font-size: 26px;
    color: $primary-color;
}

.content-gray-lg-font{
    font-family: $font-family-medium;
    font-size: 22px;
    color: $gray;
}

.content-gray-font{
    font-family: $font-family-medium;
    font-size: 16px;
    color: $gray;
}

.content-primary-font{
    font-family: $font-family-medium;
    font-size: 12px;
    color: $primary-color;
}

.dark-font{
    color: $dark;
}

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: $gray;
    span{
        font-family: $font-family-medium;
        font-size: 14px;
    }

    input{
        width: 100%;
        border: 2px solid $primary-color;
        border-radius: 5px;
        padding: 8px;
    }
}

.navbar{
    background-color: $primary-color;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: -webkit-center;

    &-logo{
        width: 100%;
        height: 60px;
        background: url("../assets/logo-uppersoft.svg") no-repeat center center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .btn-logout{
        float: right;
    }
    
    .btn-logout:hover{
        background-color: $secondary-color-hover;
    }
}

.users{
    .navbar{
        &-logo{
            width: 1150px;
        }
    }
}

.loading{
    &-button{
        width: 40px;
        display: none;
    }

    &-page{
        width: 1150px;
        height: 660px;
        align-items: center;
        justify-content: center;
        display: none;
        margin-top: 20px;
    }
}

.btn{
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;

    &-primary{
        background-color: $primary-color;
        width: 100%;
    }

    &-secondary{
        background-color: $secondary-color;
        width: 80px;
    }
}

.container.user{
    height: auto;
    margin-top: 80px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    .row{
        width: 100%;
        padding-bottom: 1rem;
    }

    .container-login{
        .card{
            &-login{
                background-color: $white;
                padding: 20px 50px 50px;
                border-radius: 12px;
                width: 100%;
            }
            &-title{
                text-align: center;
                padding-bottom: 2rem;
            }
    
            &-body{
                padding-bottom: 1rem;
                .form-login{
                    border-color: $primary-color;
                }
                input.form-login:focus{
                    border-color: $primary-color;
                    outline: none;
                }
            }
    
            &-footer{
                .btn-login{
                    height: 35px;
                    span{
                        font-size: 12px;
                    }
                }
                .btn-login:hover{
                    background-color: $primary-color-hover;
                }
            }
    
            &-user{
                background-color: $white;
                padding: 50px;
                border-radius: 12px;
            }
        }
    }
    .page{
        &-user{
            .list-user{
                width: 100%;
                height: 660px;
            }
            .grid-user{
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 50px;
                margin: 20px 0;
                
                .avatar{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }
                }

                .card{
                    &-user{
                        background-color: $white;
                        padding: 10px;
                        border-radius: 12px;
                        width: 350px;
                    }

                    &-edit{
                        float: right;
                        img{
                            width: 22px;
                        }
                    }

                    &-body{
                        padding-bottom: 1rem;
                        .username{
                            text-align: center;
                            span{
                                font-size: 24px;
                            }
                        }
                        .email{
                            text-align: center;
                        }
                    }
            
                }
            }
            
            .number-pages{
                float: right;
                margin-bottom: 1rem;
                span{
                    font-size: 12px;
                }
            }

            .pagination{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                &-number{
                    margin: 0 5px;
                    background-color: $dark;
                    color: $white;
                    padding: 10px 15px;
                    border-radius: 12px;
                    cursor: pointer;
                    
                }
                &-number:hover{
                    background-color: $primary-color-hover;
                }
                &-number.active{
                    background-color: $primary-color;
                }
                &-number.active:hover{
                    background-color: $primary-color-hover;
                }
            }
        }

    }

}

@media screen and (max-width: 1280px){
    .users{
        .navbar{
            &-logo{
                width: 767px;
            }
        }
    }
    .container{    
        .page{
            &-user{
                .grid-user{
                    grid-template-columns: auto auto;
                }
            }
        }
    }
    .loading{
        &-page{
            width: 750px;
            height: 600px;
        }
    }
}

@media screen and (max-width: 800px){
    .users{
        .navbar{
            &-logo{
                width: 600px;
            }
        }
    }
    .container{    
        .page{
            &-user{
                .grid-user{
                    grid-template-columns: auto;
                    grid-gap: 20px;
                }
            }
        }
    }
    .loading{
        &-page{
            width: 350px;
            height: 400px;
        }
    }
}

@media screen and (max-width: 600px){
    .users{
        .navbar{
            &-logo{
                width: 100%;
                background-position-x: left;
                margin-left: 20px;
                padding-right: 40px;
            }
        }
    }
    
}

@media screen and (max-width: 365px){
    .users{
        .navbar{
            &-logo{
                background-size: 130px;
            }
        }
    }
    .container{   
        .container-login{
            .card{
                &-login{
                    padding: 20px 25px 50px;
                }
            }
        }
        .page{
            &-user{
                .grid-user{
                    .card{
                        &-user{
                            width: 250px;
                        }                
                    }
                }
            }
        }
    }
    .loading{
        &-page{
            width: 100%;
        }
    }
}



